<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Django Tools{% endblock %}</title>
        {% load static %}
        <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
        <link href="{% static 'dist/assets/index.css' %}" rel="stylesheet">
    </head>

    <body>
            
        <nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-slate-200">
            <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="{% static 'images/logo.svg' %}" class="h-7" alt="Django Tools Logo" />
                <span class="self-center text-xl text-gray-900 font-semibold whitespace-nowrap">Django Tools</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-700 rounded-base md:hidden hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-slate-300" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-slate-200 rounded-base bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
                {% block navbar_links %}
                <li>
                    <a href="{% url 'home' %}" class="block py-2 px-3 {% if request.resolver_match.url_name == 'home' %}text-blue-600 bg-blue-50 rounded md:bg-transparent md:text-blue-600{% else %}text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600{% endif %} md:p-0 {% if request.resolver_match.url_name == 'home' %}aria-current="page"{% endif %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'passGen' %}" class="block py-2 px-3 {% if request.resolver_match.url_name == 'passGen' %}text-blue-600 bg-blue-50 rounded md:bg-transparent md:text-blue-600{% else %}text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600{% endif %} md:p-0 {% if request.resolver_match.url_name == 'passGen' %}aria-current="page"{% endif %}">Generate Password</a>
                </li>
                <li>
                    <a href="{% url 'weather' %}" class="block py-2 px-3 {% if request.resolver_match.url_name == 'weather' %}text-blue-600 bg-blue-50 rounded md:bg-transparent md:text-blue-600{% else %}text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600{% endif %} md:p-0 {% if request.resolver_match.url_name == 'weather' %}aria-current="page"{% endif %}">Weather</a>
                </li>
                <li>
                    <a href="{% url 'qrGen' %}" class="block py-2 px-3 {% if request.resolver_match.url_name == 'qrGen' %}text-blue-600 bg-blue-50 rounded md:bg-transparent md:text-blue-600{% else %}text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600{% endif %} md:p-0 {% if request.resolver_match.url_name == 'qrGen' %}aria-current="page"{% endif %}">QR Code</a>
                </li>
                {% endblock %}
                </ul>
            </div>
            </div>
        </nav>
  
        {% block content %}{% endblock %}

        <footer class="{% if request.resolver_match.url_name == 'passGen' or request.resolver_match.url_name == 'weather' or request.resolver_match.url_name == 'qrGen' %}bg-gray-100{% else %}bg-white{% endif %} rounded-base shadow-lg border border-slate-300 m-4">
            <div class="w-full max-w-7xl mx-auto p-4 md:py-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <a href="{% url 'home' %}" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                        <img src="{% static 'images/logo.svg' %}" class="h-7" alt="Django Tools Logo" />
                        <span class="text-gray-900 self-center text-2xl font-semibold whitespace-nowrap">Django Tools</span>
                    </a>
                    <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-700 sm:mb-0">
                        <li>
                            <a href="https://github.com/NjauSamuel" class="hover:underline me-4 md:me-6" target="_blank" rel="noopener noreferrer">About</a>
                        </li>
                        <li>
                            <a href="https://github.com/NjauSamuel/Django-Tools" class="hover:underline" target="_blank" rel="noopener noreferrer">View django code</a>
                        </li>
                    </ul>
                </div>
                <hr class="my-6 border-slate-200 sm:mx-auto lg:my-8" />
                <span class="block text-sm text-gray-700 sm:text-center">© <span id="footer-year"></span> Django Tools. All Rights Reserved.</span>
                <script>
                  document.getElementById('footer-year').textContent = new Date().getFullYear();
                </script>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    </body>
    
</html>
